<div class="component-container">
    <div class="list-component">
      <production-nx-angular-widgets-list [widgets]="widgets"
        (selected)="selectWidget($event)"
        (deleted)="deleteWidget($event)">
      </production-nx-angular-widgets-list>
    </div>
    <div class="details-component">
      <production-nx-angular-widgets-list [widget]="selectedWidget"
        (saved)="saveWidget($event)"
        (cancelled)="resetForm()">
      </production-nx-angular-widgets-list>
    </div>
  </div>
  